#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        // Указываем ZMK использовать пустую (виртуальную) матрицу клавиш для донгла
        zmk,kscan = &mock_kscan;
        // Подключаем вашу основную раскладку слоев
        zmk,keymap = &keymap;
    };

    // Заглушка матрицы: у донгла физически нет кнопок
    mock_kscan: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <>;
    };
};

/* Подключаем ваш основной файл раскладки из корня папки config */
/* Он автоматически подтянет правильную матрицу klor.dtsi и не создаст дубликатов */
#include "../../../klor.keymap"
